.DadosUser{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0 , .4);
    border-radius: 3px;
    width: 320px;
    padding: 10px;
    margin: 10px auto;
}
.DadosUser h1{
    font-size: 25px;
    padding-bottom: 15px;
    text-align: center;
}
.Dados .title{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;    
}
.title--item{
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color:var(--cor1)
}
.title--item h4{
    padding: 0px 15px;
}
.Dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}
.Dados .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;   
}
.Dados .item{  
    padding: 4px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.Dados .item--input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Dados input , .Dados select{
    padding: 2px;
    margin: 0px;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    width: 80px;
    background-color: white;
}
.Dados select{
cursor: pointer;
}
.DadosUser button {
    padding: 4px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 18pt;
    background-color: var(--cor1);
    color: rgb(255, 255, 255);
    transition: .5s;
    
}
.DadosUser button:hover {
    transform: scale(1.05);
    transition: .5s;
    background-color: rgba(6, 91, 250, 0.727);
}