.Header{
    position: fixed;
    top:0px;
    left: 0px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 9999;
}
.Header--logo{
    height: 40px;
    margin: 2px;
    cursor: pointer;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.Header--logo img{
    width: 40px;
    height: 100%;
}
.Header--logo h4{
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 5px;
    width: 60px;
}
.Header--menu{
    height: 50px;
    margin: 0px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Header--menu .LINK{
    margin: 0px 5px;
    padding: 0px 0px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.Header--contact--container{
    margin: 0px;
    height: 35px;
    cursor: pointer;
}
.Header--contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.Header--contact a {
    margin: 0px 5px;    
    height: 40px;
    border-radius: 100%;
}
.Header--contact img{
    width: auto;
    height: 100%;
}
@media (max-width: 500px){ 
    .Header--logo h4{
        opacity: 1;
        margin-right: -40px;
    }
    .Header--menu .LINK{
        font-size:16px;
    }
}
