.Preco{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.Preco .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;    
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.65);    
    border-radius: 3px;
    width: 320px;
    padding: 10px;
    margin: 10px;
}
.Preco .miniCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;    
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.65);    
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.Preco .miniCard:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
.Preco ol{
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    margin: auto;
}

.Preco ol li{
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1px 5px;
}
.Preco ol img{
    width: 20px; 
    padding: 0px 5px;
}

.Preco h1{
    font-size: 30px;
    padding: 5px;
}

.Preco h2{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}
.Preco h3{
    font-size: 16px;
    font-weight: 100;
    padding: 5px;
}
.Preco h4{
    font-size: 16px;
    font-weight: 100;
}
.Preco h5{
    font-size: 12px;
    font-weight: 100;
    padding: 10px;
}